<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/strweb5</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">saipiskursach</property>

        <!-- Other Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <!-- first time it is create and then onwards update-->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping files or annotated classes -->
        <!-- Add your entity classes or mapping files here  for ex: entity used below -->
        <mapping class="net.iba.hibernate.example.model.Developer"/>

    </session-factory>
</hibernate-configuration>
